# Analyse Construction Accidents
Analyse and clean data
 * MsiaAccidentCases.xlsx
 * osha.xlsx

In [1]:
import pandas as pd

In [2]:
dfMsia = pd.read_excel("../data/interim/MsiaAccidentCases.xlsx")
dfOsha = pd.read_excel("../data/raw/osha.xlsx", header=None, index_col=0, names = ["Title", "Description","Summary", "Classification"])

## Malaysia dataset

In [3]:
dfMsia.head()

,Cause,Title Case,Summary Case
0,Caught in/between Objects,Died being caught in between machines,The accident occurred as victim was assigned t...
1,Other,Died been buried,The accident occurred during the floor concret...
2,Struck By Moving Objects,Died crushed by entrance arch,Victim with four co-workers were installing wo...
3,Collapse of object,Died due to mine cave-in,A series of avalanche trapped victim who was m...
4,Struck By Moving Objects,Died being run over by a lorry,Accident involving an employee who has been ru...

In [4]:
dfMsia = dfMsia.rename(columns={'Cause ': 'Cause'})
dfMsia.shape

(239, 3)

In [5]:
dfMsia["Cause"].replace("Others", "Other", inplace=True)
dfMsia.columns

Index(['Cause', 'Title Case', 'Summary Case'], dtype='object')

In [6]:
dfMsia = dfMsia[dfMsia.Cause != 'TEST DATA']
dfMsia['Cause'].unique()

array(['Caught in/between Objects', 'Other', 'Struck By Moving Objects',
       'Collapse of object', 'Fires and Explosion', 'Falls',
       'Electrocution', 'Exposure to extreme temperatures',
       'Exposure to Chemical Substances', 'Drowning', 'Suffocation', nan], dtype=object)

In [7]:
# Get the breakdown of the Cause
summary_msia = dfMsia.groupby('Cause').Cause.count()
dfSummary = pd.DataFrame(summary_msia)
dfSummary = dfSummary.rename(columns={'Cause': 'Count'})
total = dfSummary['Count'].sum()
dfSummary['Percentage'] = (dfSummary['Count']/total)*100
dfSummary

                                  Count  Percentage
Cause
Caught in/between Objects            46   19.574468
Collapse of object                    9    3.829787
Drowning                              9    3.829787
Electrocution                        17    7.234043
Exposure to Chemical Substances       2    0.851064
Exposure to extreme temperatures      3    1.276596
Falls                                73   31.063830
Fires and Explosion                   4    1.702128
Other                                17    7.234043
Struck By Moving Objects             52   22.127660
Suffocation                           3    1.276596

In [8]:
dfMsia.describe()

,Cause,Title Case,Summary Case
count,235,235,235
unique,11,170,234
top,Falls,Died falling from height,Victim and his colleague was assigned to cutti...
freq,73,35,2

## OSHA dataset

In [9]:
dfOsha.head()

,Title,Description,Summary,Classification
0,,,,
201079928,Employee Is Burned By Forklift Radiator Fluid,At approximately 11:30 a.m. on November 13 2...,burn industrial truck waste proc fac pa...,
202561825,Employee Falls From Flatbed Trailer And Later...,On August 30 2013 Employee #1 was working f...,truck flatbed truck trailer fall abdomen,
200361855,Two Workers Are Struck By Motor Vehicle And O...,On August 27 2013 Employees #1 and #2 of T...,construction undrgrd power line highway ...,1 317290559 Fatality Other Occupation not re...
200361863,Employee Is Struck By Bales Of Wire And Killed,On August 26 2013 Employee #1 with Lee Iro...,waste proc fac industrial truck struck b...,
201079324,Employee Is Splashed With Hot Water And Is Bu...,On July 14 2013 Employee #1 vacuum pump tr...,truck driver pump tank hot water struc...,

In [10]:
dfOsha.shape

(16323, 4)